<div class="row">
  <div class="small-12 columns">
  
    <%= link_to "New Topic", new_topic_path, class: 'button success' %>
  
    <% @topics.each do |topic| %>
      <h3><%= link_to "##{topic.title}", topic_path(topic) %></h3>
      <br>
      <% topic.bookmarks.each do |bookmark| %>
          <div class="small-4 columns">
         <b><%= display( "#{bookmark.url}").title %></b></br>
          <hr>
          <%= link_to "#{bookmark.url}", "#{bookmark.url}", target: "_blank" %>
          <hr>
          <%= image_tag(display("#{bookmark.url}").thumbnail_url, size: "240").html_safe %>
        </div>
        </div>
        </div

        <br>
        <% end %>
        <% end %>
      </div>
    </div>
